.login__container{
    height: 100vh;
    width: 100vw;
}

.login__bg{
    background: url('../../sources/img/image.webp');
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5rem;
}

.col{
    padding: 0!important;
    gap: 2rem;
}

.login__card{
    background: rgba(255, 255, 255, 0.162);
    padding: 5rem;
    backdrop-filter: blur(10px);
    gap: 2rem;
}

.login__form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login__form-data{
    gap: 2rem;
}
.login__form input{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(200, 200, 200);
    outline: none;
    background: transparent;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.login__form button{
    background: #6094fa;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.login__form button:hover{
    background: #3578ff;
    color: rgb(255, 255, 255);
}

.login__form button:focus{
    background: #1c56ca!important;
    color: rgb(255, 255, 255)!important;
    border: 4px solid #b3ccff98!important;
}

.login__form a{
    background: white;
    color: rgb(113, 113, 113)!important;
    border: 1px solid rgb(197, 197, 197);
    outline: none;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.login__form a:hover{
    background: #f2f2f2;
    color: rgb(113, 113, 113)!important;
}