.card-body{
    background: var(--second-color-light);
    border-radius: 5rem;
    padding: 1rem!important;
}

#button{
    background: var(--main-color);
    color: var(--second-color-light);
    border-radius: 5rem;
}

.form-control{
    border: none!important;
    background-color: var(--second-color-light)!important;
}

.form-control:focus{
    box-shadow: none!important;
}

.poppins{
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 1em;
}
