.home__container {
    background: url('../../sources/img/bg0.jpg');
    height: 100vh;
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    margin-top: -106px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-body {
    background: var(--second-color-light);
    border-radius: 5rem;
    padding: 1rem !important;
}

#button {
    background: white;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5rem;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
}

#button:hover {
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.7);
    color: black;
}

#button:focus {
    background: rgb(178, 178, 178);
    border: transparent;
    color: black;
}


.form-control {
    background: transparent !important;
    border: none !important;
    color: white !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.poppins {
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 5rem;
}

.poppins span {
    -webkit-text-stroke: 2px #ecfbff;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0), 0 0 1em #abe6ff, 0 0 0.2em #9debfe7b;
    color: transparent;
    font-size: 6rem;
    text-transform: capitalize;
    animation: animacion 1s infinite;
    animation-timing-function: steps(2, end);
}

.poppins span:hover {
    -webkit-text-stroke: 2px #ecfbff;
    text-shadow: 1px 1px 2px #ecfbff4e, 0 0 1em #abe6ff, 0 0 0.2em #9debfe7b;
    color: transparent;
    font-size: 6rem;
    text-transform: capitalize;
}

@keyframes animacion {
    from {
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0), 0 0 1em #abe6ff00, 0 0 0.2em #9debfe00;
    }

    to {
        text-shadow: 1px 1px 2px #ecfbff4e, 0 0 1em #abe6ff, 0 0 0.2em #9debfe7b;
    }
}

.home__subtitle {
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


.boton:hover {
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.7);
}

.boton-search:hover {
    box-shadow: 1px 1px 20px rgba(145, 1, 168, 0.7);
}

.card-body {
    background: rgba(255, 255, 255, 0.226);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 5rem;
    padding: 1rem !important;
}

.img {
    opacity: 0;
}


.games__container {
    margin-top: 5rem;
    background: rgb(25,52,93);
background: radial-gradient(circle, rgba(25,52,93,1) 0%, rgba(3,17,31,1) 68%);
    margin: auto;
}

.games__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.games__title {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 500;
    line-height: 1.2;
    margin: 4rem 0;
}

.games__content {
    margin: auto;
    padding: 5rem;
    max-width: 1400px;
}

.games__content span{
    font-size: calc(1.425rem + 2.1vw);
}

.games__content span:hover{
    font-size: calc(1.425rem + 2.1vw);
}

@media screen and (max-width: 1300px) {
    .games__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        justify-items: center;
    }
    .card__container{
        margin-bottom: 1rem;
    }
}


@media screen and (max-width: 1120px) {

    .card__container{
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 1024px) {

    .games__cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 750px) {

    .games__cards{
        grid-template-columns: repeat(1, 1fr);
    }
}
