.main__contact{
    background: url('../../sources/img/blur1.png');
    background-repeat: no-repeat;
}

.contact__container {
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    width: 500px;
    border: 2px solid rgba(255, 255, 255, 0.121);
    background-color: rgba(255, 255, 255, 0.14);
}

.contact__container:hover{
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1);
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    gap: 5rem;
    padding: 2rem;
}

.contact__redes {
    display: flex;
    gap: 2rem;
}

.contact__title {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    text-align: left;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}

.contact__title span {
    color: #f36ded;
    font-size: 3.8rem;
    text-transform:capitalize;
    font-weight: bolder;
}

.contacto__icon {
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    padding: 3.8rem;
    text-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.071);
    backdrop-filter: blur(10px);
}

.contacto__icon {
    text-decoration: none;
    color: white;
}

.whatsapp:hover {
    background-color: #25D366;
    border: 1px solid #25D366;
    color: white;
    box-shadow: 1px 1px 20px rgba(0, 231, 73, 0.7);
}

.facebook:hover {
    background-color: #4267B2;
    border: 1px solid #4267B2;
    color: white;
    box-shadow: 1px 1px 20px rgba(0, 89, 231, 0.7);
}

.twitter:hover {
    background-color: #1DA1F2;
    border: 1px solid #1DA1F2;
    color: white;
    box-shadow: 1px 1px 20px rgba(0, 154, 231, 0.7);
}

.contact__form form {
    display: flex;
    flex-direction: column;
}

.contact__form{
    gap: 1rem;
    padding: 0.5rem;
}

.contact__form input {
    margin: 1rem 0;
    padding: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.121);
    border-radius: 1rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.121);
}

.contact__form input::placeholder {
    color: rgba(255, 255, 255, 0.585);
}

.contact__form textarea {
    margin: 1rem 0;
    padding: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.121);
    border-radius: 1rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.121);
    resize: none;
}

.contact__form textarea::placeholder {
    color: rgba(255, 255, 255, 0.585);
}


.contact__form button {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5rem;
    border: 1px solid rgba(255, 255, 255, 0.121);
    outline: none;
    background-color: var(--main-color);
    color: white;
    backdrop-filter: blur(10px);
    cursor: pointer;
    width: 50%;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
}
.contact__form button:hover {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    box-shadow: 1px 1px 20px rgba(255, 102, 245, 0.34);
}

.contact__form button:active {
    background-color: var(--text-color-black);
    border: 1px solid var(--text-color-black);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.34);
}



/***********popup************/

.popup{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 1;
    padding: 0 1rem;
    position: fixed;
    right: 0;
    top: 0;
    transition: .3s;
    /* visibility: hidden; */
    z-index: 2;
}

.popup__container{
    background-color: rgba(123, 123, 123, 0.377);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    padding: 4.5rem 2.5rem 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    width: 500px;
    text-align: center;
}

.popup__container i{
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.d-none{
    display: none;
}