.games_resultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    gap: 1rem;
    margin-bottom: 5rem;
}