.card-body{
    background: white;
    border-radius: 5rem;
    padding: 1rem!important;
}

#button{
    background: #710c84;
    color: white;
    border-radius: 5rem;
}

.form-control{
    border: none!important;
}

.form-control:focus{
    box-shadow: none!important;
}

.poppins{
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 1em;
}
