.about__container{
    background: url("../../sources/img/games2.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    background-size: contain;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* backdrop-filter: blur(10px); */
    /* background-color: rgba(255, 255, 255, 0.14); */
    /* border: 2px solid rgba(255, 255, 255, 0.121); */
}

.about__h1{
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 500;
}

.about__h1 span{
    color: #00b6cd;
}

.about__p{
    width: 23rem;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.about__icon{
    margin-bottom: 3rem;
}

.about__icon-svg{
    font-size: 3rem;
    border-radius: 50%;
}

.about__icon-svg img{
    width: 100%;
}

.about__container a{
    text-decoration: none;
    color: #ff5669;
    font-weight: bold;
}

.about__container a:hover{
    color: #ff566aba;
}