.home-page{
    background-image: radial-gradient(circle, #020f1a, #020e19, #020e18, #020d16, #020c15, #040a13, #050911, #06070f, #07050b, #060306, #040103, #000000);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}