@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,500&family=Sofia+Sans:wght@100;200&display=swap');
:root {
  --main-color: #710c84ff;
  --main-color-dark: #481a50ff;
  --text-color-black: #1f271bff;
  --text-color-dark: #000;
  --second-color: #ffdde2ff;
  --second-color-light: #f5f5f5ff;
  --text-color-white: #ffffff;
}

html {
  background-image: radial-gradient(circle, #020f1a, #020e19, #020e18, #020d16, #020c15, #040a13, #050911, #06070f, #07050b, #060306, #040103, #000000);
  background-color: #020F1A;
}


body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #3b4f62; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: wheat;
}